{% extends 'base.html.twig' %}

{% block title %}
  {{title}}
{% endblock %}

{% block body %}
  <h1>{{title}}</h1>
  <form action="/" method="post">
    <div class="form-group ">
      {{ form(form) }}
      </div>
    </form>
  {% endblock %}
