<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>
      {% block title %}Welcome!
      {% endblock %}
    </title>
    {% block stylesheets %}
      {{ encore_entry_link_tags('app') }}
    {% endblock %}
  </head>
  <body>

    <div
      class="container my-5">
      {# read and display all flash messages #}
      {% for label, messages in app.flashes %}
        {% for message in messages %}
          <div class="alert alert-{{ label }}">
            {{ message }}
          </div>
        {% endfor %}
      {% endfor %}

      <main>
        {% block body %}{% endblock %}
      </main>

    </div>
    {% block javascripts %}{% endblock %}
  </body>
</html>
